<!--
<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-blaud-sharepoint" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SharePoint for Cordova</name>
    <description>SharePoint Cordova plugin.</description>

    <license>Apache 2.0</license>
    <keywords>microsoft, office365, sharepoint</keywords>
    <repo>https://bitbucket.org/e-office/blaud_sharepoint_client</repo>
    <issue>https://bitbucket.org/e-office/blaud_sharepoint_client/issues</issue>

    <js-module name="SharePoint" src=“dist/ngSharePoint.js">
        <clobbers target="Microsoft.Office.SharePoint" />
    </js-module>

    <platform name="ios">
    </platform>

    <platform name="windows">
    </platform>

    <platform name="android">
    </platform>
</plugin>
-->
